airflow/dags/__pycache__
airflow/airflow.cfg
airflow/airflow.db
airflow/db/
airflow/webserver_config.py
airflow/logs
airflow/airflow-webserver.pid
airflow/data
airflow/dags/**/__pycache__/
.idea

webserver/**/node_modules
webserver/**/dist
