.filtersWrapper {
    width: 100%;
    justify-content: center;
    display: flex;
}

.filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 0.8rem;
    width: 420px;
}

.filtersItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.filterSubmit:global(.MuiButton-outlined) {
    border: var(--border-button);
    color: inherit;
}

.paginatorList :global(.MuiPaginationItem-root) {
    color: white;
}

.docsListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
