.filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 0.8rem;
}

.filtersItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
