.formWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.formFieldWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

.formField {
    background-color: #ffffff;
    color: #000;
    border-radius: 0.4rem;
    border: var(--border-field);
}
