:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --border-table: 1px solid rgba(127, 127, 127, 0.3);
    --border-button: 1px solid rgba(127, 127, 127, 0.3);
    --color-primary: rgba(255, 255, 255, 0.87);

    color: var(--color-primary);
}

body {
    margin: 0;
    height: 100vh;
    height: 100dvh;
    background: #242424;
    color: var(--color-primary);
}

input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    padding: 10px;
}

#root {
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
}

.code {
    background: #222;
    color: white;
    padding: 2rem;
    overflow: scroll;
    box-sizing: border-box;
}

.navbar {
    padding: 0 2rem;
}
