.imageCard {
    padding: 2rem;
}

.metaDataTable {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.metaDataTable thead td {
    font-weight: bold;
}

.metaDataTable td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.hashTypesTable {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.hashTypesTable td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    word-wrap: anywhere;
}

.hashTypesTable .hashTypesLabel {
    width: 30%;
}
